# App Configuration
NODE_ENV=development
APP_URL=http://localhost:
APP_PORT=5003

# Database Configuration
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=todolist
DATABASE_HOST=db
DATABASE_PORT=5432

# Security
BCRYPT_HASHING_ROUND=10

# Json Web Token
ACCESS_TOKEN=02234004E2584C53445017C6E012AB350E19A610C98814001DBBF972594308ED
REFRESH_TOKEN=2FBFB46AB982478E7CEE3DB01BD09AC151DD6AC87533077FC10E351D151164DD